div, figure, section, nav, article, input, textarea, button, input { padding:0; margin:0; box-sizing: border-box; font-family: 'Oxygen', sans-serif; }
html, body { padding:0; margin:0; box-sizing: border-box; position: relative; word-break: break-word; font-family: 'Oxygen', sans-serif; }
a { display:inherit; text-decoration: inherit; color:inherit; }
p { margin:0; }

html {
  background: #fff;
}

body {
  width:100vw;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smoothing: antialiased;
  overflow-x:hidden;
  overflow-y: scroll;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

:root {
  --max-width:960px;
  --radius:10px;

  --top-most-index:2000000;
  --snackbar-index:1000002;
  --popup-index:1000001;
  --nav-index:1000000;
  --loader-index:999999;
  --secondary-font:'Roboto', sans-serif;
}

.light {
  --background-color:#fff;
  --highlight:#8282F3;
  --highlight-opaque: rgba(130, 130, 243, 0.3);
  --light-line:rgba(0,0,0,0.05);
  --text-primary: #10101F;
  --text-secondary: #9F9FA5;
  --nav-shadow:0 2px 5px rgba(34, 34, 78, 0.08), 0 5px 15px rgba(34, 34, 78, 0.05);
  --nav-background:#fff;
  --soft-shadow:0 2px 5px rgba(34, 34, 78, 0.08), 0 5px 15px rgba(34, 34, 78, 0.05);
  --hint-bg:#fff;
  --graph-bg: #f9f9fe;
  --graph-line-0:#CFFFDC;
  --graph-line-1:#CECEFE;
  --graph-line-mine:rgba(0,0,0,0.05);
  --landing-button:#10101F;
  --colorful-button:linear-gradient(150.18deg, #CFFFDC 41.75%, #CECEFE 79.62%);
  --shark-fin:rgba(0,0,0,0.08);
  --warning-bg: rgba(130, 130, 243, 0.05);
  --warning-shadow: rgba(130, 130, 243, 0.3);
  --error-snackbar: red;
  --posted-highlight: rgba(130, 130, 243, 0.3);
}

.dark {
  --background-color:#10101f;
  --highlight:#8282F3;
  --highlight-opaque: rgba(130, 130, 243, 0.3);
  --light-line:rgba(255,255,255,0.05);
  --text-primary: #F2F2F2;
  --text-secondary: #9F9FA5;
  --nav-shadow:0 8px 20px rgba(0,0,0,0.4);
  --nav-background:linear-gradient(180deg, #393969 0%, #303058 5%, #212140 70%, #2a2a50 95%, #3a3a6e 100%);
  --soft-shadow:0 0 25px 1px rgba(130, 130, 243, 0.05), 0 0 15px 1px rgba(130, 130, 243, 0.05), inset 0 0 0 3px var(--background-color), inset 0 0 0 5px rgba(130, 130, 243, 0.25);
  --hint-bg: #212140;
  --graph-bg: #161629;
  --graph-line-0: rgba(207, 0, 220, 0.1);
  --graph-line-1:#8282F3;
  --graph-line-mine:rgba(255,255,255,0.1);
  --landing-button: #ffffff;
  --colorful-button:linear-gradient(101.18deg, #CFFFDC 41.75%, #CECEFE 79.62%);
  --shark-fin: rgba(0,0,0,0.3);
  --warning-bg: rgba(255, 0, 0, 0.21);
  --warning-shadow: rgba(255, 0, 0, 0.4);
  --error-snackbar: red;
  --posted-highlight: rgba(130, 130, 243, 0.7);
}

body {
  min-height:100vh;
}

input[type="checkbox"] {
  background:transparent;
  width:26px;
  height:26px;
  border:0;
  box-shadow:var(--soft-shadow);
  border-radius:var(--radius);
}

textarea {
  background:transparent;
  padding:20px;
  width:100%;
  resize: vertical;
  outline:0;
  min-height:150px;
  font-size: 16px;
  color:var(--text-primary);
  border-radius:var(--radius);
  position: relative;
  border:2px solid var(--highlight-opaque);

  transition:border 0.2s ease;

  &:focus {
    border:2px solid var(--highlight);
  }
}

/*** BEUFY OVERRIDES */
.b-checkbox.checkbox .control-label {
  color:var(--text-primary);
}
.b-slider.is-primary .b-slider-fill {
  background: var(--highlight) !important;
}
.b-slider .b-slider-track {
  height: 0.12rem;
  background:var(--light-line);
}
.b-slider .b-slider-thumb-wrapper .b-slider-thumb {
  border: 2px solid var(--highlight);
  background:var(--background-color);

  transition: all 0.15s ease;
  transition-property: box-shadow, transform;

  &:active, &:hover {
    transform:scale(1.4);
  }
}
.b-slider .b-slider-tick-label {
  width: 100px;
  text-align: center;
  margin-top:6px;
  font-size: 11px;
  color:var(--text-secondary);

  b {
    color:var(--highlight);
    font-weight: 800;
  }
}

.b-checkbox.checkbox input[type=checkbox] + .check {
  border-color: rgba(147, 147, 147, 0.32);

  &:hover {
    border-color: rgba(147, 147, 147, 0.32);
  }
}
.b-checkbox.checkbox input[type=checkbox] + .check {
  border: 2px solid rgba(147, 147, 147, 0.32);
}
.b-checkbox.checkbox input[type=checkbox]:focus:checked + .check {
  border-color: var(--highlight);
  box-shadow: none;
}
.b-checkbox.checkbox input[type=checkbox]:active + .check {
  border-color: var(--highlight);
  box-shadow: none;
}
.b-checkbox.checkbox input[type=checkbox]:focus + .check {
  border-color: rgba(147, 147, 147, 0.32);
  box-shadow: none;
}
.b-checkbox.checkbox:hover input[type=checkbox]:not(:disabled) + .check {
  border-color: var(--highlight);
  box-shadow: none;
}

.b-checkbox.checkbox input[type=checkbox]:checked + .check {
  background: var(--highlight);
  border-color: var(--highlight);
  box-shadow:none;
}
