@import "variables";

div, figure, section, nav, article, input, textarea, button, input { padding:0; margin:0; box-sizing: border-box; font-family: 'Oxygen', sans-serif; }
html, body { padding:0; margin:0; box-sizing: border-box; position: relative; word-break: break-word; font-family: 'Oxygen', sans-serif; }
a { display:inherit; text-decoration: inherit; color:inherit; }
p { margin:0; }

html {
  background: #fff;
}

body {
  width:100vw;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smoothing: antialiased;
  overflow-x:hidden;
  overflow-y: scroll;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}


:root {
  --max-width:960px;
  --radius:5px;

  --top-most-index:2000000;
  --snackbar-index:1000002;
  --popup-index:1000001;
  --nav-index:1000000;
  --loader-index:999999;
  --secondary-font:'Roboto', sans-serif;
  --content-width:650px;
}

.light {
  --background-color:#fff;
  --content-bg:#fff;
  --highlight:#8282F3;
  --highlight-opaque: rgba(130, 130, 243, 0.15);
  --light-line:rgba(0,0,0,0.08);
  --text-primary: #10101F;
  --text-secondary: #9F9FA5;
  --nav-shadow:0px 14px 14px rgba(0, 0, 0, 0.05), 0px 2px 5px rgba(0, 0, 0, 0.15);
  --nav-background:#fff;
  --feed-select-bg:#f8f8fe;
  --feed-select-bg-line:#ebebeb ;
  --soft-shadow:var(--nav-shadow);
  --hint-bg:#fff;
  --graph-bg: #f9f9fe;
  --graph-line-0:#CFFFDC;
  --graph-line-1:#CECEFE;
  --graph-line-mine:rgba(0,0,0,0.05);
  --landing-button:#10101F;
  --colorful-button:linear-gradient(150.18deg, #CFFFDC 41.75%, #CECEFE 79.62%);
  --shark-fin:var(--highlight);
  --warning-bg: rgba(255, 0, 0, 0.05);
  --warning-shadow: rgba(130, 130, 243, 0.3);
  --error-snackbar: red;
  --posted-highlight: 0 0 50px rgba(130, 130, 243, 0.3);
}

.dark {
  --background-color:#2E2E69;
  --content-bg:#424288;
  --highlight:#8282F3;
  --highlight-opaque: rgba(130, 130, 243, 0.2);
  --light-line:rgba(255,255,255,0.05);
  --text-primary: #F2F2F2;
  --text-secondary: #a4a0dd;
  --nav-shadow:0px 14px 14px rgba(0, 0, 0, 0.15), 0px 2px 4px rgba(0, 0, 0, 0.15);
  --nav-background:#424288;
  --feed-select-bg:#333370;
  --feed-select-bg-line:#3a3a7c;
  --soft-shadow:var(--nav-shadow);
  --hint-bg: #212140;
  --graph-bg: #383882;
  --graph-line-0: rgba(207, 0, 220, 0.1);
  --graph-line-1:#8282F3;
  --graph-line-mine:rgba(255,255,255,0.1);
  --landing-button: #ffffff;
  --colorful-button:linear-gradient(101.18deg, #CFFFDC 41.75%, #CECEFE 79.62%);
  --shark-fin: #fff;
  --warning-bg: #5e5eb6;
  --warning-shadow: #8282F3;
  --error-snackbar: red;
  --posted-highlight: 0 3px 8px rgba(0,0,0,0.3), 0 0 60px 10px rgba(130, 130, 243, 0.2);
}


@media only screen and (max-width:$breakpoint) {
  .desktop-only {
    display:none !important;
  }
}

body {
  min-height:100vh;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: var(--text-secondary);
}
::-moz-placeholder { /* Firefox 19+ */
  color: var(--text-secondary);
}
:-ms-input-placeholder { /* IE 10+ */
  color: var(--text-secondary);
}
:-moz-placeholder { /* Firefox 18- */
  color: var(--text-secondary);
}

input[type="checkbox"] {
  background:transparent;
  width:26px;
  height:26px;
  border:0;
  box-shadow:var(--soft-shadow);
  border-radius:var(--radius);
}

textarea {
  background:transparent;
  padding:20px;
  width:100%;
  resize: vertical;
  outline:0;
  min-height:150px;
  font-size: 16px;
  color:var(--text-primary);
  border-radius:var(--radius);
  border:1px solid var(--light-line);
  position: relative;
  background:var(--background-color);

  transition:border 0.2s ease;

  &:focus {
    border:1px solid var(--highlight);
  }
}

/*** BEUFY OVERRIDES */
.b-checkbox.checkbox .control-label {
  color:var(--text-primary);
}
.b-slider.is-primary .b-slider-fill {
  background: var(--highlight) !important;
}
.b-slider .b-slider-track {
  height: 0.12rem;
  background:var(--light-line);
}
.b-slider .b-slider-thumb-wrapper .b-slider-thumb {
  border: 2px solid var(--highlight);
  background:var(--background-color);

  transition: all 0.15s ease;
  transition-property: box-shadow, transform;

  &:active, &:hover {
    transform:scale(1.4);
  }
}
.b-slider .b-slider-tick-label {
  width: 100px;
  text-align: center;
  margin-top:6px;
  font-size: 11px;
  color:var(--text-secondary);

  b {
    color:var(--highlight);
    font-weight: 800;
  }
}

.b-checkbox.checkbox input[type=checkbox] + .check {
  border-color: rgba(147, 147, 147, 0.32);

  &:hover {
    border-color: rgba(147, 147, 147, 0.32);
  }
}
.b-checkbox.checkbox input[type=checkbox] + .check {
  border: 2px solid rgba(147, 147, 147, 0.32);
}
.b-checkbox.checkbox input[type=checkbox]:focus:checked + .check {
  border-color: var(--highlight);
  box-shadow: none;
}
.b-checkbox.checkbox input[type=checkbox]:active + .check {
  border-color: var(--highlight);
  box-shadow: none;
}
.b-checkbox.checkbox input[type=checkbox]:focus + .check {
  border-color: rgba(147, 147, 147, 0.32);
  box-shadow: none;
}
.b-checkbox.checkbox:hover input[type=checkbox]:not(:disabled) + .check {
  border-color: var(--highlight);
  box-shadow: none;
}

.b-checkbox.checkbox input[type=checkbox]:checked + .check {
  background: var(--highlight);
  border-color: var(--highlight);
  box-shadow:none;
}


/* TOOLTIPS */
.tooltip {
  display: block !important;
  z-index: 999999999999999999999999;
  max-width:250px;

  .tooltip-inner {
    background: var(--text-primary);
    box-shadow:0 2px 5px rgba(0,0,0,0.15);
    color: var(--background-color);
    font-size: 14px;
    border-radius: var(--radius);
    padding: 10px 20px;
  }

  .tooltip-arrow {
    width: 0;
    height: 0;
    border-style: solid;
    position: absolute;
    margin: 5px;
    border-color: var(--text-primary);
    z-index: 1;
  }

  &[x-placement^="top"] {
    margin-bottom: 5px;

    .tooltip-arrow {
      border-width: 5px 5px 0 5px;
      border-left-color: transparent !important;
      border-right-color: transparent !important;
      border-bottom-color: transparent !important;
      bottom: -5px;
      left: calc(50% - 5px);
      margin-top: 0;
      margin-bottom: 0;
    }
  }

  &[x-placement^="bottom"] {
    margin-top: 5px;

    .tooltip-arrow {
      border-width: 0 5px 5px 5px;
      border-left-color: transparent !important;
      border-right-color: transparent !important;
      border-top-color: transparent !important;
      top: -5px;
      left: calc(50% - 5px);
      margin-top: 0;
      margin-bottom: 0;
    }
  }

  &[x-placement^="right"] {
    margin-left: 5px;

    .tooltip-arrow {
      border-width: 5px 5px 5px 0;
      border-left-color: transparent !important;
      border-top-color: transparent !important;
      border-bottom-color: transparent !important;
      left: -5px;
      top: calc(50% - 5px);
      margin-left: 0;
      margin-right: 0;
    }
  }

  &[x-placement^="left"] {
    margin-right: 5px;

    .tooltip-arrow {
      border-width: 5px 0 5px 5px;
      border-top-color: transparent !important;
      border-right-color: transparent !important;
      border-bottom-color: transparent !important;
      right: -5px;
      top: calc(50% - 5px);
      margin-left: 0;
      margin-right: 0;
    }
  }

  &[aria-hidden='true'] {
    visibility: hidden;
    opacity: 0;
    transition: opacity .15s, visibility .15s;
  }

  &[aria-hidden='false'] {
    visibility: visible;
    opacity: 1;
    transition: opacity .15s;
  }
}
